/* Overrides
------------------------------------------------------------ */

.plane {
    background-image: none !important; /* Don't want the plane to fly by on these pages */
}

.centered {
    width: 640px;
}

#sub-content h2 {
    font-size: 26px;
    text-align: center;
    margin: 0 0 25px 0;
}

/* Page Errors
------------------------------------------------------------ */

#error {
    height: 675px;
    text-align: center;
}

#error img {
    margin: 140px 0 0 0;
}

/* About Page
------------------------------------------------------------ */

.avatars {
    height: 340px;
    width: 490px;
    color: #fff;
    margin: 20px auto 0 auto;
    text-shadow: 0 1px 2px rgba(0, 0, 30, 0.3);
}

.avatars .avatar {
    float: left;
    width: 130px;
    margin: 0 50px 0 0;
    text-align: center;
}

.avatars .avatar a {
    color: #fff;
}

.avatars .avatar h2 {
    margin: 0;
    color: #fff;
    font-size: 16px;
}