/*BOX MODEL HACK FOR IE BROWSERS */

div.navigation {
 width: 12em;
 voice-family: "\"}\"";
 voice-family: inherit;
 width: 11.9em;
}

div.content .photowidget img {
 width: 6em;
 voice-family: "\"}\"";
 voice-family: inherit;
 width: 5.2em;
}

/*Horizontal center hack*/
body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Self-clearing floats hack for IE */
* html #container { height: 1%; }  /* for IE5 and IE6 */
*:first-child+html #container { min-height: 1px; } /* for IE7 */