/* Email Signup Form
------------------------------------------------------------ */

#email-signup {
    width: 500px;
    margin: 0 auto;
}

/* Input Label
------------------------------ */

form label.infield {
    top: 13px;
    left: 21px;
    color: #4f7b86;
}

/* Text Input
------------------------------ */

form input[type="text"] {
    background: #fff;
    color: #4f7b86;
    width: 460px;
    padding: 15px 20px;
    -o-border-radius: 20em;
    -moz-border-radius: 20em;
    -webkit-border-radius: 20em;
    border-radius: 20em;
    box-shadow: inset 0 1px 2px #4f7b86;
}

/* Submit Button
------------------------------ */

form input[type="submit"] {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #dd4b39), color-stop(1, #b32f1f));
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    -o-border-radius: 20em;
    -moz-border-radius: 20em;
    -webkit-border-radius: 20em;
    border-radius: 20em;
    border: 1px solid #96271a;
    text-shadow: 0 1px 2px #96271a;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 0 1px 1px #ec9a90;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #df5847), color-stop(1, #c23321));
}

form input[type="submit"]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #b32f1f), color-stop(1, #dd4b39));
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 2px #792015;
}

/* Disabled Submit
------------------------------ */

form input[type="submit"].disabled {
    color: #96271a;
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    cursor: default;
}

form input[type="submit"].disabled:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #dd4b39), color-stop(1, #b32f1f));
}

form input[type="submit"].disabled:active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #dd4b39), color-stop(1, #b32f1f));
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 0 1px 1px #ec9a90;
}