/* Reset
------------------------------------------------------------ */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input{font-size:100%;vertical-align:baseline;border:0;outline:0;background:transparent;margin:0;padding:0}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}

/* Base Styles
------------------------------------------------------------ */

body {
    background: #eff4f8;
    font: 15px / 22px 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #77a0bf;
    position: relative;
}

.clear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.position-relative {
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Type
------------------------------------------------------------ */

h2 {
    color: #4d7fa5;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

a {
    color: #ff5b00;
    text-decoration: none;
}

/* Main Layout
------------------------------------------------------------ */

/* Grid overlay
------------------------------ */

#grid {
    display: none;
    position: absolute;
    background: url('../images/grid860.png') repeat-y top left;
    width: 770px;
    height: 100%;
    opacity: 0.3;
    z-index: 9999;
}

/* Center the page layout
------------------------------ */

.centered {
    width: 770px;
    margin: 0 auto;
}

/* Footer
------------------------------ */

#footer {
    text-align: center;
    padding: 80px 0 40px 0;
    color: #77a0bf;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s linear;
}

#footer:hover {
    opacity: 1;
}

#footer a {
    color: #77a0bf;
    margin: 0 30px 0 0;
}

#footer a:hover {
    color: #4d7fa5;
}

/* Forms
------------------------------------------------------------ */

form label.infield {
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
}