{% extends "base_clouds.html" %}

{% block page_title %}404 Page Not Found &nbsp; &middot; &nbsp; Just Landed&trade;{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/{{ version }}/extras.css" />
{% endblock %}

{% block clouds_content %}
    <div class="centered clear">
        <div id="error">
            <a href="/"><img src="/static/images/{{ version }}/404_retina.png" width="456" height="200" alt="404 Page Not Found" /></a>
        </div>
    </div>
{% endblock %}