{% extends "base_clouds.html" %}

{% block page_title %}404 Page Not Found &nbsp; &middot; &nbsp; Just Landed{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/extras.css?v={{ version }}" />
{% endblock %}

{% block clouds_content %}
    <div class="centered clear">
        <div id="error">
            <a href="/"><img src="/static/images/404.png?v={{ version }}" width="345" height="212" alt="404 Page Not Found" /></a>
        </div>
    </div>
{% endblock %}