{% extends "base_clouds.html" %}

{% block page_title %}500 Internal Server Error &nbsp; &middot; &nbsp; Just Landed{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/{{ version }}/extras.css" />
{% endblock %}

{% block clouds_content %}
    <div class="centered clear">
        <div id="error">
            <a href="/"><img src="/static/images/{{ version }}/500.png" width="345" height="212" alt="500 Internal Server Error" /></a>
        </div>
    </div>
{% endblock %}