{% extends "base_clouds.html" %}

{% block page_title %}About &nbsp; &middot; &nbsp; Just Landed{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/extras.css?v={{ version }}" />
{% endblock %}

{% block clouds_content %}
    <div class="centered clear">
        <!-- AVATARS -->
        <div class="avatars clear">
            <div class="avatar">
                <a href="http://www.jgrall.com" target="_blank">
                    <img src="/static/images/about/jon.png?v={{ version }}" width="100" height="100" alt="Jon Grall, Engineering" />
                    <h2>Jon Grall</h2>
                    Engineering
                </a>
            </div>

            <div class="avatar">
                <a href="http://dribbble.com/grahambeer" target="_blank">
                    <img src="/static/images/about/graham.png?v={{ version }}" width="100" height="100" alt="Graham Beer, Design" />
                    <h2>Graham Beer</h2>
                    iOS Design
                </a>
            </div>

            <div class="avatar" style="margin-right: 0;">
                <a href="http://www.partlysean.com" target="_blank">
                    <img src="/static/images/about/sean.png?v={{ version }}" width="100" height="100" alt="Sean Nelson, Design" />
                    <h2>Sean Nelson</h2>
                    Site Design &amp; Dev
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block more_clouds_content %}
    <!-- BOTTOM CONTENT -->
    <div class="centered">
        <!-- ABOUT COPY -->
        <div id="sub-content" class="clear">
            <h2>Know when to leave for the airport</h2>
            <p>Just Landed began when one of us got a call: "I'm waiting in the terminal. Where are you?" If this has ever happened to you, then you know how embarrassing it is and how it made you feel like a jerk for leaving your friend or loved one stranded at the airport. Alternatively, perhaps you've had the joy of pacing the arrival area for hours because you didn't realize the flight was delayed. What is needed is a self-updating alarm to leave for the airport at just the right time.</p>
            <p>After trying a dozen flight tracking apps, we realized that nobody was solving this problem. As it turns out, there wasn't an app for that. So we built one &ndash; Just Landed &dash; with the goal of giving you supernaturally good airport pickup timing.</p>
            <p>In addition to tracking incoming flights in real-time, Just Landed also tracks your location and monitors current traffic conditions &ndash; even when the app isn't open. It intelligently figures out when to notify you to leave for the airport so that you'll arrive just in time to park and meet someone. You'll never be late (or early) to pick someone up at the airport again!</p>
        </div>
    </div>
{% endblock %}