<!doctype html>
<html>
<head>
    <title>{% block page_title%}Just Landed&trade;&nbsp;&nbsp;&middot;&nbsp;&nbsp;Making airport pickup easy{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta property="og:title" content="Just Landed - Making airport pickup easy." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.getjustlanded.com/">
    <meta property="og:image" content="http://www.getjustlanded.com/static/images/{{ version }}/just_landed_lg.png" />
    <meta property="og:site_name" content="Just Landed" />
    <meta property="og:description" content="Just Landed makes it easy to pick someone up at the airport on time - just enter their flight number and we'll alert you when you need to leave for the airport." />
    <meta name="description" content="Just Landed makes it easy to pick someone up at the airport on time - just enter their flight number and we'll alert you when you need to leave for the airport." />
    <meta name="keywords" content="flight track, track flight, flight alert, airport, landing, arrivals, airport pickup, airport reminder, pickup" />
    <meta name="apple-itunes-app" content="app-id=520338005, affiliate-data=1000l3kI">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/{{ version }}/master.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}

    <!-- JAVASCRIPT -->
    <script type="text/javascript">Rot13={map:null,convert:function(a){Rot13.init();var b="";for(i=0;i<a.length;i++){var c=a.charAt(i);b+=c>="A"&&c<="Z"||c>="a"&&c<="z"?Rot13.map[c]:c}return b},init:function(){if(Rot13.map!=null)return;var a=new Array;var b="abcdefghijklmnopqrstuvwxyz";for(i=0;i<b.length;i++)a[b.charAt(i)]=b.charAt((i+13)%26);for(i=0;i<b.length;i++)a[b.charAt(i).toUpperCase()]=b.charAt((i+13)%26).toUpperCase();Rot13.map=a},write:function(a){document.write(Rot13.convert(a))}}</script>
    <script type="text/javascript" src="/static/javascript/{{ version }}/modernizer.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ga_account }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block extra_js_head %}{% endblock %}
</head>
<body>
    <!-- GRID -->
    <div class="centered">
        <div id="grid"></div>
    </div>

    <!-- PAGE CONTENT -->
    {% block page_content %}{% endblock %}

    <!-- FOOTER -->
    {% block footer %}
        <div id="footer" class="clear">
        	<span class="footer-wrapper">
            	<a href="/about">About</a>
            	<a href="/iphonefaq">FAQ</a>
            	<a href="/press" id="presslink">Press</a>
            	<a href="/terms">Terms</a>
            	<a href="/privacy">Privacy</a>
            	<span style="position: relative; top: 8px; left: -6px;"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.getjustlanded.com&amp;send=false&amp;layout=standard&amp;width=51&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=24&amp;appId=267879999907678" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 51px; height: 24px;" allowTransparency="true"></iframe></span>
            	<span style="position: relative; top: 6px; left: 15px;"><a href="https://twitter.com/justlanded" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @justlanded</a></span>
        	</span>

            <p id="copyright"><a href="/">&copy; 2013 Just Landed. Little Details LLC. All Rights Reserved.</a></p>
        </div>
    {% endblock %}

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascript/{{ version }}/master.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% block extra_js %}{% endblock %}
</body>
</html>