<!doctype html>
<html>
<head>
    <title>{% block page_title%}Just Landed &nbsp; &#9992; &nbsp; Making airport pickups easy{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/master.css?v={{ version }}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">Rot13={map:null,convert:function(a){Rot13.init();var b="";for(i=0;i<a.length;i++){var c=a.charAt(i);b+=c>="A"&&c<="Z"||c>="a"&&c<="z"?Rot13.map[c]:c}return b},init:function(){if(Rot13.map!=null)return;var a=new Array;var b="abcdefghijklmnopqrstuvwxyz";for(i=0;i<b.length;i++)a[b.charAt(i)]=b.charAt((i+13)%26);for(i=0;i<b.length;i++)a[b.charAt(i).toUpperCase()]=b.charAt((i+13)%26).toUpperCase();Rot13.map=a},write:function(a){document.write(Rot13.convert(a))}}</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ga_account }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block extra_js_head %}{% endblock %}
</head>
<body>
    <!-- GRID -->
    <div class="centered">
        <div id="grid"></div>
    </div>
        
    <!-- PAGE CONTENT -->
    {% block page_content %}{% endblock %}
    
    <!-- FOOTER -->
    {% block footer %}
        <div id="footer" class="clear">
            <a href="/about">About</a>
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="/">by Little Details LLC</a>
            <!-- <p style="margin: 20px 0 0 0;"><a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile and Web Analytics" /></a></p> -->
        </div>
    {% endblock %}
    
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/static/javascript/master.js?v={{ version }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>