{% extends "base.html" %}
{% block page_title %}Flight Aware Data Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/admin.css?v={{ version }}" />
{% endblock %}

{% block page_content %}
<h1>Just Landed {{ environment }} - Flight Aware Admin</h1>

<!--
<h3>Alert Endpoint</h3>
  <button id="set-endpoint">Set Endpoint</button>
  <span id="endpoint-success"></span>

<h3>Flight Alerts</h3>
-->

<table>
  <tr>
    <td id="alert-count">{{ alert_count }}</td>
    <td>push alerts set</td>
    <!--<td>&nbsp;&nbsp;<button id="clear-alerts">Clear Alerts</button></td> -->
    <td id="clear-result"></td>
  </tr>
</table>

<p class="result">{{ register_endpoint_result }}</p>

<h3>Flights Being Tracked</h3>
<table>
  <tr>
    <td>{{ users_tracking_count }}</td>
    <td>users tracking flights</td>
  </tr>
  <tr>
    <td>{{ flights_tracking_count }}</td>
    <td>flights being tracked</td>
  </tr>
</table>
<br />
{% if db_consistent %}
The database is <span style="color:green">CONSISTENT</span> assuming 1 flight tracked per iOS user at a time.
{% else %}
The database is <span style="color:red">INCONSISTENT</span> assuming 1 flight tracked per iOS user at a time.<br />
NOTE: users could be tracking flights that will later be garbage collected if /untrack wasn't called by their device (due to no reception) before /track was called for a different flight. Check back later to see if consistency is restored.
{% endif %}

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="/static/javascript/admin.js"></script>
{% endblock %}