{% extends "base_clouds.html" %}

{% block extra_head %}
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block clouds_content %}
    <div class="centered clear">
        <!-- iPHONE PREVIEW -->
        <div id="iphone" style="background-image: url('/static/images/homepage/iphone.png?v={{ version }}');">
            <div id="iphone-glare" style="background-image: url('/static/images/homepage/iphone_glare.png?v={{ version }}');"></div>
            <video width="280" autoplay="autoplay" loop="loop" poster="/static/movies/poster.jpg?v={{ version }}">
                <source src="/static/movies/jl_screencast.mp4" type="video/mp4" />
                <source src="/static/movies/jl_screencast.ogv" type="video/ogg" />
            </video>

            <!-- SCREENSHOT FALLBACK -->
            <img src="/static/images/homepage/app_screenshot.png?v={{ version }}" width="310" height="715" style="display: none;" />
        </div>

        <!-- APP DETAILS -->
        <div id="details">
            <h1 id="logo"><a href="/" style="background-image: url('/static/images/logo.png?v={{ version }}');">Just Landed</a></h1>
            <h2 id="tagline" style="background-image: url('/static/images/tagline.png?v={{ version }}');">&ellip;getting you there on time</h2>

            <a href="http://itunes.com/apps/littledetailsllc/justlanded" target="_blank" class="app-store-button"><img src="/static/images/homepage/app_store_button_text_retina.png?v={{ version }}" width="350" height="67" alt="Download!" /></a>
        </div>
    </div>
{% endblock %}

{% block more_clouds_content %}
    <!-- BOTTOM CONTENT -->
    <div class="centered">
        <!-- APP FEATURES -->
        <div id="sub-content" class="clear">
            <div class="feature">
                <h2>Easy Airport Pickup</h2>
                <p>The perfect companion to help you pick up friends and family from the airport &ndash; right on time.</p>
            </div>

            <div class="feature">
                <h2>Get Notified</h2>
                <p>We monitor the flight and traffic conditions and notify you when it's time to leave for the airport.</p>
            </div>

            <div class="feature">
                <h2>Be Prepared</h2>
                <p>Get the estimated flight arrival time, terminal, gate, and even baggage claim information.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
            // Show the fallback image only if the browser doesn't support <video>
            if (Modernizr.video) {
                $('#iphone img').hide();
            } else {
                $('#iphone img').show()
            }
        });

        $('#iphone').click(function(){
            if ($('video').get(0).paused) {
                $('video').get(0).play();
            }
            else {
                $('video').get(0).pause();
            }
        });
    </script>
{% endblock %}