{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/homepage.css?v={{ version }}" />
{% endblock %}

{% block page_content %}    
    <!-- TOP CONTENT -->
    <div id="main-content">
        <div class="clouds-foreground"></div>
        
        <!-- Lots of nested divs because there's a lot of things happening behind the monolith iPhone -->
        <div class="plane">
            <div class="clouds-background">
                <div class="centered clear">
                    <!-- iPHONE PREVIEW -->
                    <div id="iphone">
                        <div id="iphone-glare"></div>
                        <video width="261" autoplay="autoplay" loop="loop">
                            <source src="/static/movies/preview.mov" type="video/mp4" />
                        </video>
                    </div>
                    
                    <!-- APP DETAILS -->
                    <div id="details">
                        <h1 id="logo"><a href="/">Just Landed</a></h1>
                        <h2 id="tagline">&ellip;getting you there on time</h2>
                        
                        <a href="#" class="app-store-button"><img src="/static/images/homepage/app_store_button_text.png" width="350" height="67" alt="Download!" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- BOTTOM CONTENT -->
    <div class="centered">
        <!-- APP FEATURES -->
        <div id="sub-content" class="clear">
            <div class="feature">
                <h2>Easy Airport Pickup</h2>
                <p>The perfect companion to help you pick up your grandma from the airport &ndash; right on time.</p>
            </div>
            
            <div class="feature">
                <h2>Get Notified</h2>
                <p>Our smart push notifications tell you when to leave so you arrive at the airport right on time.</p>
            </div>
            
            <div class="feature">
                <h2>Be Prepared</h2>
                <p>Get all the essential info about a flight like when it lands, when it leaves, gate, and terminal.</p>
            </div>
        </div>
        
        <!-- FOOTER -->
        <div id="footer" class="clear">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <!-- <p style="margin: 20px 0 0 0;"><a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile and Web Analytics" /></a></p> -->
            by Little Details
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function moveForeground() {
            // 2250px is the width of the clouds graphic. Does one whole loop before calling itself again to start again
            $('.clouds-foreground').css('background-position-x', '0').animate({ 'background-position-x': '2250px' }, 90000, 'linear', moveForeground);
        }
        
        function moveBackground() {
            $('.clouds-background').css('background-position-x', '0').animate({ 'background-position-x': '2250px' }, 300000, 'linear', moveBackground);
        }
        
        $(document).ready(function() {
            // Clouds
            moveForeground();
            moveBackground();
            
            // Plane in background
            $('.plane').delay(5000).css('background-position-x', '-1280px').animate({ 'background-position-x': '2560px' }, 70000, 'linear');
        });
    </script>
{% endblock %}